body{
    margin-top:20px;
}
.navbar .container-fluid .navbar-brand{
    font-weight: bold;
    color: maroon;
}
#logo{
    height: 3rem;
}
.sticky-top{
    position: relative;
}
.sticky-top .navbar .container-fluid{
    background-color: white;
    padding: 1rem;
}.sticky-top .navbar .container-fluid a{
    color: #800000;
}
.sticky-top .navbar{
    background-image: linear-gradient(to right, #800000, #FABC3F);
}
.sticky-top .navbar .navbar-brand{
    color: white;
}
.navbar .container-fluid{
    text-align: center;
    justify-content: center;
}
.container{
    margin-top: 17rem;
    border-radius: 21px;
    background: #ffffff;
    box-shadow:  16px 16px 100px #848484,-16px -16px 100px #ffffff;
}
.account-block {
    padding: 1rem;
    background-image: url(images/School_cut.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .account-testimonial {
    text-align: center;
    color: #ffffff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.text-theme {
    color: #800000 !important;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient( #800000, #FABC3F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-theme {
    background: linear-gradient( #800000, #FABC3F);
    color: #fff;
    width: 10rem;
    margin-right: 1rem;
}
.btn-theme:hover{
    background-color: #ffffff;
    background: linear-gradient( #800000, #FABC3F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: #800000;
}



